@import "./variable.css";


.a-pdf-viewer {
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
  min-width: var(--min-pdf-width);
  background-color: var(--pdf-viewer-theme);
  /* background-color: var(--pdf-viewer-dark-theme); */
}

.a-viewer-container {
  width: 100%;
  min-height: calc(100% - 40px);
  overflow: auto;
  position: relative;
}

.pdf-loading .a-page-container {
  visibility: hidden;
}

.a-page-container {
  position: relative;
  min-width: var(--min-pdf-width);
  visibility: visible;
  min-width: 100%;
  width: max-content;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  justify-content: flex-start;
  align-items: center;
  /* transform-origin: 0px 0px;
  transform: translate(20px, 20px); */
}

.a-page-view {
  border-color: #dee2e6;
  border-style: solid;
  border-width: 1px;
  box-shadow: none;
  box-sizing: border-box;
  /* position: absolute; */
  /* margin: 10px; */
}

.a-viewer-wrapper {
  display: flex;
  flex-direction: row;
  width: 100%;
  min-height: calc(100% - 40px);
}

/* Loading overlay */
.pdf-loading #loading-container {
  display: block;
}

#loading-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 3;
  display: none;
}

.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.spinner {
  border: 8px solid rgba(0, 0, 0, 0.1);
  border-left-color: #333;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}