.a-text-layer {
  position: absolute;
  text-align: initial;
  inset: 0;
  overflow: hidden;
  opacity: 1;
  line-height: 1;
  -webkit-text-size-adjust: none;
  -moz-text-size-adjust: none;
  text-size-adjust: none;
  forced-color-adjust: none;
  transform-origin: 0 0;
  z-index: 2;
  caret-color: CanvasText;
}

.a-text-layer.highlighting {
  touch-action: none;
}

.a-text-layer :is(span, br) {
  color: transparent;
  position: absolute;
  white-space: pre;
  cursor: text;
  transform-origin: 0% 0%;
}

.a-text-layer span.markedContent {
  top: 0;
  height: 0;
}

.a-text-layer .highlight {
  --highlight-bg-color: rgb(180 0 170 / 0.25);
  --highlight-selected-bg-color: rgb(0 100 0 / 0.25);
  --highlight-backdrop-filter: none;
  --highlight-selected-backdrop-filter: none;

  margin: -1px;
  padding: 1px;
  background-color: var(--highlight-bg-color);
  -webkit-backdrop-filter: var(--highlight-backdrop-filter);
  backdrop-filter: var(--highlight-backdrop-filter);
  border-radius: 4px;
}

@media screen and (forced-colors: active) {

  .a-text-layer .highlight {
    --highlight-bg-color: transparent;
    --highlight-selected-bg-color: transparent;
    --highlight-backdrop-filter: var(--hcm-highlight-filter);
    --highlight-selected-backdrop-filter: var(--hcm-highlight-selected-filter);
  }
}

.a-text-layer .highlight.appended {
  position: initial;
}

.a-text-layer .highlight.begin {
  border-radius: 4px 0 0 4px;
}

.a-text-layer .highlight.end {
  border-radius: 0 4px 4px 0;
}

.a-text-layer .highlight.middle {
  border-radius: 0;
}

.a-text-layer .highlight.selected {
  background-color: var(--highlight-selected-bg-color);
  -webkit-backdrop-filter: var(--highlight-selected-backdrop-filter);
  backdrop-filter: var(--highlight-selected-backdrop-filter);
}

.a-text-layer ::-moz-selection {
  background: rgba(0 0 255 / 0.25);
  background: color-mix(in srgb, AccentColor, transparent 75%);
}

.a-text-layer ::selection {
  background: #0980ff40;
  background: color-mix(in srgb, AccentColor, transparent 75%);
}

.a-text-layer br::-moz-selection {
  background: transparent;
}

.a-text-layer br::selection {
  background: transparent;
}

.a-text-layer .endOfContent {
  display: block;
  position: absolute;
  inset: 100% 0 0;
  z-index: -1;
  cursor: default;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.a-text-layer .endOfContent.active {
  top: 0;
}